:root{
    --primary-color: rgb(145, 145, 145);
    --secondary-color: rgb(19, 149, 182);
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-weight: 400;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

#landing-page{
    display: block;
    height: 100vh;
    background: url(img/prog.jpg) no-repeat top center/cover;
}
#landing-page.landing-hidden{
    display: none;
}

hr{
    width: 75%;
    border: 1px var(--secondary-color) solid;
}

.text-secondary{
    color: var(--secondary-color);
}

.home-content{
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 1.3rem;
    z-index: 5;
    opacity: 1;
    transition: opacity 200ms ease-out;
    text-align: left;
}

.home-content > *{
    margin: 30px 30px;
}

.lg-heading{
    font-size: 2.5rem;
    font-weight: 500;
}

.menu-branding {
    display: block;
    margin: 0px;
    width: 300px;
    overflow: hidden;
    transition: all 400ms ease-out;
}

.menu-btn{
    position: absolute;
    z-index: 4;
    right: 3%;
    top: 3%;
    cursor: pointer;
    transition: transform 500ms ease-out;
    z-index: 10;
}

.btn-line{
    width: 25px;
    height: 3px;
    margin: 0px 0px 5px 0px;
    background-color: #555;
    border-radius: 10px;
}

h1, h2, h3{
    margin: 0;
    font-weight: 500;
}

h1{
    font-size: 2.1rem;
}

a{
    text-decoration: none;
    color: #999;
}

ul{
    margin: 0;
    list-style: none;
}

.icons > a{
    font-size: 1rem;
    padding: 0.4rem;
    margin: 0px 10px;
}

.icons a:hover{
    transition: color 400ms ease-out;
    color: var(--secondary-color);
}

.menu-btn.close{
    transition: transform 500ms ease-out;
    transform: rotate(180deg);
    top: 1%;
}

.menu-btn.close > .btn-line:nth-child(1){
    transition: transform 500ms ease-out;
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close > .btn-line:nth-child(2){
    transition: all 500ms ease-out;
    opacity: 0;
}

.menu-btn.close > .btn-line:nth-child(3){
    transition: transform 500ms ease-out;
    transform: rotate(-45deg) translate(7px, -6px);
}

.menu-btn.close > .btn-line{
    background-color: var(--secondary-color);
}

.menu{
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .95;
    visibility: hidden;
    overflow: hidden;
    z-index: 6;
}

.menu.show{
    visibility: visible;
    position: sticky;
}

.menu-nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    background-color: rgba(32, 32, 32, 1);
    margin: 0px;
    padding: 5px;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 300ms ease-out;
    z-index: 4;
    transform-origin: top center;
}

.menu-nav.show{
    transform: translate3d(0, 0, 0);
}

.menu-portrait{
    display: block;
    margin: 20px auto;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 2px var(--secondary-color), -1px -1px 5px 2px var(--secondary-color);
    background: url(img/grumpy.jpg);
    background-size: cover;
    animation-name: pulse;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}

@keyframes pulse{
    0% {box-shadow: 0px 0px 7px 2px var(--secondary-color), 0px 0px 7px 2px var(--secondary-color);}
    50% {box-shadow: 0px 0px 7px 5px var(--secondary-color), 0px 0px 7px 5px var(--secondary-color);};
    100% {box-shadow: 0px 0px 7px 2px var(--secondary-color), 0px 0px 7px 2px var(--secondary-color);};
 }

.menu-nav > .nav-item{
    transform: translate3d(0, -500px, 0);
}

.menu-nav.show > .nav-item:nth-child(1){
    transition: transform 300ms ease-out 100ms;
    transform: translate3d(0, 0, 0);
}

.menu-nav.show > .nav-item:nth-child(2){
    transition: transform 300ms ease-out 200ms;
    transform: translate3d(0, 0, 0);
}

.menu-nav.show > .nav-item:nth-child(3){
    transition: transform 300ms ease-out 300ms;
    transform: translate3d(0, 0, 0);
}

.menu-nav.show > .nav-item:nth-child(4){
    transition: transform 300ms ease-out 400ms;
    transform: translate3d(0, 0, 0);
}

.menu-nav.show > .nav-item:nth-child(5){
    transition: transform 300ms ease-out 500ms;
    transform: translate3d(0, 0, 0);
}

.menu-nav.show > .nav-item:nth-child(6){
    transition: transform 300ms ease-out 600ms;
    transform: translate3d(0, 0, 0);
}

.nav-item{
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 0px;
    transition: all 150ms ease-out;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
}

.nav-item a{
    padding: 8px 10px;
    transition: all 200ms ease-out;
}

.nav-item a:hover{
    color: var(--secondary-color);
    border-radius: 20px;
    background-color: rgba(192, 192, 192, 0.05);
}

.nav-item.is-active > .nav-link{
    color: var(--secondary-color);
}

/* ABOUT SECTION */

#about.show{
    display: block;
    width: auto;
    transition: all 300ms ease-in-out 200ms;
    background: linear-gradient(180deg, rgb(19, 19, 19), #474747);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#about.hide{
    display: none;
}

.about-content{
    margin: 0 auto;
    padding: 25px;
    text-align: justify;
    line-height: 2;
    font-size: 1.1rem;
    max-width: 900px;
    animation: fadeEffect 1s;

}

.about-content h2{
    font-size: 2.2rem;
}

.arrow-left{
    display: none;
    position: absolute;
    left: 3.5%;
    top: 5%;
    font-size: 2rem;
    color: var(--secondary-color);
    cursor: pointer;
    z-index: 6;
    transform: rotate(-90deg);
}

/* SCHOOL SECTION */

section#school{
    display: none;
}

#school.edu-shown{
    display: block;
    background: linear-gradient(180deg, rgb(31, 31, 31), #474747);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: auto;
    padding: 20px;
    margin: 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 50px;
    transition: 300ms all ease-out;
    padding: 20px;
    margin: 0 auto;
    animation: fadeEffect 1s;
}

.card{
    position: relative;
    background-color: rgba(32, 32, 32, 0.8);
    height: auto;
    line-height: 1.4;
    font-size: 1rem;
    opacity: 1;
    box-shadow: 2px 2px 5px 2px  #111;
}

.card.edu-shown:first-child{
    opacity: 1;
    transition: 400ms all ease-out 200ms;
}

.card.edu-shown:nth-child(2){
    opacity: 1;
    transition: 400ms all ease-out 270ms;
}

.card.edu-shown:nth-child(3){
    opacity: 1;
    transition: 400ms all ease-out 340ms;
}

.card.edu-shown:nth-child(4){
    opacity: 1;
    transition: 400ms all ease-out 410ms;
}

.card.edu-shown:nth-child(5){
    opacity: 1;
    transition: 400ms all ease-out 480ms;
}

.card-content{
    text-align: center;
    height: 100%;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.card-ul{
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

.card-content > p{
    margin-top: 30px;
}

h3{
    font-size: 1.2rem;
}

.card-content.school-content-shown{
    opacity: 1;
    z-index: 3;
}

.card-bckg{
    position: absolute;
    margin: -20px -35px;
    padding: 0;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 2px 2px 1px 1px var(--secondary-color);
}

.card-1-bckg{
    background: url(img/kid.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-2-bckg{
    background: url(img/highschool.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-3-bckg{
    background: url(img/uni.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-4-bckg{
    background: url(img/berlitz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.card-5-bckg{
    background: url(img/it-student.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
}

/* EXPERIENCE SECTION */

section#exp{
    display: none;
    padding: 20px;
    margin: 0;
}

#exp.xp-shown{
    display: block;
    background: linear-gradient(180deg, rgb(31, 31, 31), #474747);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    min-height: 100vh;
}

.exp-cards {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 50px;
    transition: 300ms all ease-out;
    padding: 20px;
    margin: 0 auto;
    animation: fadeEffect 1s;
}

#exp.xp-shown > .exp-cards{
    display: grid;
}

.exp-card{
    position: relative;
    background-color: rgba(32, 32, 32, 0.8);
    height: auto;
    font-size: 1rem;
    opacity: 1;
    box-shadow: 2px 2px 5px 2px  #111;
}

.exp-cards.xp-shown{
    transition: all 400ms ease-in-out;
}

.exp-card.xp-shown{
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.exp-card.xp-shown:nth-child(1){
    transition: opacity 400ms ease-in-out 200ms;
}

.exp-card.xp-shown:nth-child(2){
    transition: opacity 400ms ease-in-out 270ms;
}

.exp-card.xp-shown:nth-child(3){
    transition: opacity 400ms ease-in-out 340ms;
}

.exp-card.xp-shown:nth-child(4){
    transition: opacity 400ms ease-in-out 410ms;
}

.exp-card.xp-shown:nth-child(5){
    transition: opacity 400ms ease-in-out 480ms;
}

.exp-card.xp-shown:nth-child(6){
    transition: opacity 400ms ease-in-out 550ms;
}

.xp-card-front{
    position: absolute;
    margin: -20px -35px;
    padding: 0;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 2px 2px 1px 1px var(--secondary-color);
}

.xp-card-back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.xp-card-back > p{
    margin-top: 20px;
}

li{
    list-style: none;
}

.carbona{
    background: url(img/hotel.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.burton{
    background: url(img/factory.jpg) no-repeat top center/cover;
}

.hungast{
    background: url(img/kitchen.jpg) no-repeat center center/cover;
}

.samson{
    background: url(img/security.jpg) no-repeat center top/cover;
}

.webdev{
    background: url(img/programmer.jpg) no-repeat center top/cover;
}

 /* CONTACT */
 #contact{
    display: none;
}

#contact.contact-shown{
    display: block;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(31, 31, 31), #474747);
    font-size: 1rem;
    padding: 40px 20px;
}

.contact-box{
    display: block;
    min-height: 550px;
    max-width: 550px;
    margin: 50px auto;
    background: var(--primary-color);
    animation: fadeEffect 1s;
}

.contact-title{
    color: var(--primary-color);
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    padding: 30px 10px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    background: rgba(32, 32, 32, 0.8);
    border-bottom: 1px solid var(--secondary-color);
}

.contact-title-icon{
    height: 15px;
    width: 15px;
    font-size: 20px;
    margin-left: 10px;
    transition: color 200ms ease-in-out;
}

.contact-box:hover .contact-title-icon{
    color: var(--secondary-color);
}

.contact-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 15px;
}

.contact-label{
    display: block;
    color: rgba(32, 32, 32, 0.9);
    padding: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
}

.form-group{
    margin: 10px;
    width: 90%;
}

.form-btn{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 550;
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    margin: 30px;
    background-color: #444;
    transition: background-color 100ms ease-in-out;
    cursor: pointer;
}

.form-btn:hover{
    background-color: #333;
}

.form-btn:active{
    background-color: var(--secondary-color);
}

.form-input{
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 15px;
    box-shadow: 0 0 1px .5px #777;
}

.form-input:focus{
    box-shadow: 0 0 2px .5px var(--secondary-color);
}

.form-message{
    padding: 10px;
    min-height: 120px;
}

#footer{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    width: 100%;
    background: rgba(12, 12, 12, 0.9);
    color: var(--primary-color);
    font-size: 1.1rem;
}

footer a{
    color: var(--secondary-color);
    margin: 5px;
}

#to-top{
    position: fixed;
    bottom: 1%;
    right: 1.5%;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

#to-top > i{
    cursor: pointer;
}

@media (min-width: 480px){
    .menu-nav{
        display: flex;
        flex-direction: column;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    h2, h3, p, ul, a{
        font-size: 1.3rem;
    }
}

@media (min-width: 1220px){

    .cards, .exp-cards{
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 80px;
        padding: 50px 50px;
    }
}
